<div class="monitored-programs">
    {% if monitoredProgramsReport is not empty %}
    <table>
        <colgroup>
            {% for header in tableHeaders %}
                <col id="{{ header.value }}">
            {% endfor %}
        </colgroup>
        <thead>
            <tr>
                {% for header in tableHeaders %}
                    <th>{{ header.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for program in monitoredProgramsReport %}
                <tr>
                    {% for header in tableHeaders %}
                        <td>
                            {% set value = program[header.name] %}
                            {% if header.name == "Active" %}
                                <div class="is-program-active
                                {% if value == true %}
                                    yes
                                {% else %}
                                    no
                                {% endif %}"></div>
                            {% elseif header.name == "CPU" %}
                                {{ value|round(2, 'common') }}{{ header.unit }}
                            {% elseif header.name == "RAM" %}
                                {{ (value / 1048576)|round(2, 'common') }}{{ header.unit }}
                            {% elseif header.name == "Icon" %}
                                <img src="{{ value }}" alt=""
                                onerror="this.onerror=null;this.src='../renderer/assets/icons/default.png';" class="process-icon">
                            {% else %}
                                    {{ value }}{{ header.unit }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No monitored programs yet!</p>
    {% endif %}
</div>