<div class="pc-monitored-cards-grid">
    {% for program in monitoredProgramsReport %}
        {% set displayName = program['Name'] ?: program['Title'] %}
        <div class="app-card" data-app-name="{{ displayName }}">
            <div class="app-card-top">
                <div class="app-card-stats">
                    <span class="stat-item">RAM: {{ program['RAM'] }}</span>
                    <span class="stat-item">CPU: {{ program['CPU'] }}%</span>
                </div>
                <div class="app-card-status 
                    {% if program['Active'] == true %}
                        active
                    {% else %}
                        inactive
                    {% endif %}">
                </div>
            </div>
            <div class="app-card-content">
                <h3 class="app-card-title">{{ program['Title'] }}</h3>
                <h4 class="app-card-title">{{ displayName }}</h4>
            </div>
        </div>
    {% endfor %}
</div>